#parent {
    background: linear-gradient(180deg, #FDEB8E 10.94%, #FEB6B6 100%);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.long-button-container {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 80%;
}